importFrom(xml2, "read_xml", "xml_root", "xml_contents", "xml_text", "xml_name", "xml_attrs", "xml_child")
importFrom(stats, "runif", "na.omit")
importFrom(methods, "slot", "slot<-", "as", "getMethod")
importFrom("utils", "packageVersion", "packageDescription", "read.table", "write.table")
importFrom("grDevices", "rgb")

export(gmeta, getLocationProj, gmeta2grd)
export(execGRASS, stringexecGRASS, doGRASS, parseGRASS, getXMLencoding, setXMLencoding)
export(initGRASS, get.GIS_LOCK, set.GIS_LOCK, unset.GIS_LOCK, unlink_.gislock)
export(remove_GISRC)
export(vInfo, vColumns, vDataCount, vect2neigh)
export(set.ignore.stderrOption, get.ignore.stderrOption, 
 set.stop_on_no_flags_parasOption,
 get.stop_on_no_flags_parasOption, 
 set.echoCmdOption, get.echoCmdOption, get.useInternOption, 
 set.useInternOption, get.legacyExecOption, set.legacyExecOption,
 get.defaultFlagsOption, set.defaultFlagsOption,
 get.suppressEchoCmdInFuncOption, set.suppressEchoCmdInFuncOption)

export(read_VECT, write_VECT, read_RAST, write_RAST)

S3method(print, gmeta)
S3method(print, GRASS_interface_desc)

