import(sf)
import(raster)
import(XML)
importFrom(utils, packageDescription, read.table)
importFrom(stats, runif, na.omit)
importFrom(methods, slot, "slot<-", as, is)

export(gmeta, getLocationProj, gmeta2grd)
export(execGRASS, doGRASS, parseGRASS, getXMLencoding, setXMLencoding)
export(initGRASS, get.GIS_LOCK, set.GIS_LOCK, unset.GIS_LOCK, unlink_.gislock)
export(remove_GISRC)
export(readRAST, writeRAST)
export(readVECT, writeVECT, vInfo, vColumns, vDataCount, vect2neigh)
export(set.ignore.stderrOption, get.ignore.stderrOption, set.useGDALOption,
 get.useGDALOption, set.stop_on_no_flags_parasOption,
 get.stop_on_no_flags_parasOption, set.pluginOption, get.pluginOption,
 set.echoCmdOption, get.echoCmdOption, get.useInternOption, 
 set.useInternOption, get.legacyExecOption, set.legacyExecOption,
 get.defaultFlagsOption, set.defaultFlagsOption,
 get.suppressEchoCmdInFuncOption, set.suppressEchoCmdInFuncOption)

S3method(print, gmeta)
S3method(print, GRASS_interface_desc)

